@use "theme" as *;

bar {
  font-family: "Inter", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans CJK KR";
  font-size: 18px;
  color: $subtext1;
  margin: 3px;
}

graphics-mode-container {
  background-color: $base-transparent;
  border-radius: $border-radius-circle;
  padding-left: 15px;
  padding-right: 15px;
}

.discrete-graphics-icon {
  font-size: 26px;
  font-weight: 800;
  color: $subtext1;
}

.discrete-graphics-icon-suspended {
  @extend .discrete-graphics-icon;
  color: $green;
}

.discrete-graphics-icon-active {
  @extend .discrete-graphics-icon;
  color: $red;
}

.discrete-graphics-icon-resuming {
  @extend .discrete-graphics-icon;
  color: $orange;
}

.discrete-graphics-icon-suspending {
  @extend .discrete-graphics-icon;
  color: $orange;
}