@use "theme" as *;

power-profile-button {
    background-color: $base-transparent;
    border-radius: $border-radius-circle;
    padding-left: 15px;
    padding-right: 15px;
}

.power-profile-power-saver {
    font-size: 26px;
    font-weight: 600;
    color: $green;
}

.power-profile-balanced {
    font-size: 26px;
    font-weight: 600;
    color: $subtext1;
}

.power-profile-performance {
    font-size: 26px;
    font-weight: 600;
    color: $red;
}

.power-profile-unknown {
    font-size: 26px;
    font-weight: 600;
    color: $red;
}